<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WebSocketURL</key>
	<string>wss://ws.postman-echo.com/raw</string>
	<key>TickIntervalNanoseconds</key>
	<integer>800000000</integer>
	<key>SymbolsPerTick</key>
	<integer>2</integer>
	<key>LocaleIdentifier</key>
	<string>en</string>
</dict>
</plist>
